.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: map-get($font-size, sm);
  padding-left: 20px;
  line-height: 10px;
  user-select: none;
  color: color(gray, base);

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: color(primary, base);
  border: 1px solid color(primary, base);
  border-radius: 2px;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: color(primary, base);
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: color(primary, base);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.custom-checkbox {
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    left: 3px;
    top: 1px;
    width: 3px;
    height: 5px;

    border: solid color(primary, white);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

// ==========================================================================
// Usage
// ==========================================================================
// <label class="custom-checkbox">
// <input type="checkbox" />
// <span class="checkmark"></span>
// Select option
// </label>
