// ==========================================================================
// Global Settings
// ==========================================================================
@import 'helpers/config';
@import 'helpers/colors';
// Mixins
@import 'helpers/mixins/breakpoints';
@import 'helpers/mixins/clearfix';
@import 'helpers/mixins/input-placeholder';
@import 'helpers/mixins/position';
@import 'helpers/mixins/position-center';
@import 'helpers/mixins/reset-list';
@import 'helpers/mixins/hardware-acceleration';
@import 'helpers/mixins/truncate';
@import 'helpers/mixins/background-transition';
@import 'helpers/mixins/slanted-edge';

// ==========================================================================
// Base Styles
// ==========================================================================
@import 'base/reset';
@import 'base/base';
@import 'base/typography';

// ==========================================================================
// Components
// Styles for generic UI components
// Examples include navbar, dialog boxes, carousels, sidebar etc
// ==========================================================================
@import 'components/button';
@import 'components/checkbox';

.banner {
  height: 500px;
  background-color: teal;
  @include slanted-edge(after, false, 3deg);
}
