// Creates slanted edge on container elements
// $pseudo - Position of the edge: before / after / both
// $flip - flip edge vertically
// $angle - angle of edge, default: 1.5deg
@mixin slanted-edge($pseudo, $flip: false, $angle: 1.5deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}

// ==========================================================================
// Usage
// ==========================================================================
// <div class="banner">
// Hello world
// </div>

// .banner {
//   height: 500px;
//   background-color: teal;
//   @include slanted-edge(after, false, 3deg);
// }

// ==========================================================================
// Generated CSS
// ==========================================================================
// .banner:after{
//   background: inherit;
//     content: '';
//     display: block;
//     height: 50%;
//     left: 0;
//     position: absolute;
//     right: 0;
//     z-index: -1;
//     backface-visibility: hidden;
//     bottom: 0;
//     transform: skewY(-3deg);
//     transform-origin: 100%;
// }
